
.listfigure {
    width: 90%;
    display: grid;
    text-align: center;
    margin: auto;
    padding: 8px;
    border-radius: 8px;
    background-color: #333;
    img {
        width: 50%;
        height: auto;
        margin: 10px auto;
        background-color: white;
    }
    button {
        width: 50%;
        margin: 8px auto;
        padding: 8px;
        border-radius: 8px;
        border: none;
        background-color: turquoise;
        color: white;
    }
    h2 {
        margin: 0;
        color: white;
        font-weight: 400;
    }
    figcaption {
        color: white;
        margin: 4px;
    }
}